:root {
    --primery-text-color: #434455;
    --title-text-color: #2E2F42;
    --primery-bg-color: #FFFFFF;
    --active-color: #404BBF;
    --btn-color: #4D5AE5;
    --logo-color: #2E2F42;
    --btn-bacground-color: #F4F4FD;
    --footer-text-color: #E7E9FC;
    --border-color: #8E8F99;
    --footer-hover-color: #31D0AA;
    --modal-window-color: #FCFCFC;
    --privacy-color-text: #757575;
    --label-color: #8E8F99;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
    background-color: var(--primery-bg-color);
    color: var(--primery-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}
.logofirst {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--btn-color);
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    text-decoration: none;
}

.logosecond {
    color: var(--logo-color);}

    /* header */
    /* hero */
    /* Features */
    /* doing */
    /* team */
    /* clients */
    /* footer */
    /* portfolio */